
/* Sovrascrivi l'indentazione per i livelli della TreeGrid */
:root {
    --vaadin-grid-tree-toggle-level-offset: 0.25rem; /* Imposta questo valore come desiderato */
}

.treegrid-indent {
    padding-left: 0.25rem !important; /* Imposta questo valore come desiderato */
}


/* Stile per testo in grassetto e colore verde */
.bold-green-text {
    font-weight: bold;
    color: green;
}
